<div class="container">
  <div class="panel panel-default" data-ng-controller="timeEntryEditCtrl">
    <div class="panel-heading">
      <span class="pull-left">
        <b>Edit timelog</b>
      </span>
      <span class="pull-right">
        <a data-ui-sref="timelog.list">
          <i class="glyphicon glyphicon-list"></i>
          <span>Back to list</span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div data-ng-show="timesplit.show">
            <div class="panel panel-warning"
                 data-ng-show="timesplit.status == 'split'">
              <div class="panel-heading">
                <h4 class="panel-title">Time entry can be split</h4>
              </div>
              <div class="panel-body">
                <div>{{ timesplit.text }}</div>
                <div style="margin-top:6px">
                  <label>
                    <input type="checkbox"
                           data-ng-model="timesplit.ignore_conflicts">
                    Don't split ignore conflicts
                  </label>
                </div>
                <table class="table table-stripped"
                       style="margin-top:12px"
                       data-ng-show="!timesplit.ignore_conflicts">
                  <thead>
                    <tr>
                      <th>
                        <tri-state-checkbox checkboxes="timesplit.splits">
                        </tri-state-checkbox>
                      </th>
                      <th>Start time</th>
                      <th>End time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="split in timesplit.splits">
                      <td>
                        <input type="checkbox" data-ng-model="split.isSelected"/>
                      </td>
                      <td>
                        {{ getDateTimeString(split.start_date, split.start_time) }}
                      </td>
                      <td>
                        {{ getDateTimeString(split.end_date, split.end_time) }}
                      </td>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="panel panel-danger"
                 data-ng-show="timesplit.status == 'error'">
              <div class="panel-heading">
                <h4 class="panel-title">Time entry duration conflict</h4>
              </div>
              <div class="panel-body">
                <div>{{ timesplit.text }}</div>
                <div style="margin-top:6px">
                  <label>
                    <input type="checkbox"
                           data-ng-model="timesplit.ignore_conflicts">
                    Ignore conflicts
                  </label>
                </div>
                <div style="margin-top:12px">
                  <accordion data-ng-repeat="split in timesplit.splits">
                    <accordion-group data-is-open="isopen">
                      <accordion-heading>
                        {{split.start_time }} - {{split.end_time}}
                        <i class="pull-right glyphicon"
                           data-ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
                        </i>
                      </accordion-heading>
                      <dl>
                        <dt>Time</dt>
                        <dd>{{ getDateTimeString(split.start_date, split.start_time) }} -
                          {{ getDateTimeString(split.end_date, split.end_time) }}</dd>
                        <dt>Project</dt>
                        <dd>{{ split.project_id }}</dd>
                        <dt>Activity</dt>
                        <dd>{{ split.activity }}</dd>
                      </dl>
                    </accordion-group>
                  </accordion>
                </div>
              </div>
            </div>

            <div class="panel panel-success"
                 data-ng-show="timesplit.status == 'good'">
              <div class="panel-heading">
                <h4 class="panel-title">Time entry duration valid</h4>
              </div>
              <div class="panel-body">
                {{ timesplit.text }}
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-9">
          <form class="form-horizontal" novalidate name="timeEntryEditForm"
                role="form">
            <div class="form-group"
                 data-ng-class="getClass(timeEntryEditForm.project)">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.project">
                Project
                <span class="text-danger">*</span>
              </label>
              <div class="col-md-6">
                <input type="text" id="timeentry.edit.form.project"
                       class="form-control"
                       name="project"
                       placeholder="Project name"
                       autocomplete="off"
                       data-typeahead="project as project.name for project in projects | matchProject:$viewValue"
                       data-typeahead-editable="false"
                       data-ng-readonly="disableProject"
                       data-typeahead-on-select="projectSelected($item)"
                       data-ng-required="true"
                       data-ng-model="timeentry.project">
                <div class="text-danger"
                     data-ng-show="showError(timeEntryEditForm.project, 'required')">
                  Required
                </div>
              </div>
            </div>

            <div class="form-group"
                 data-ng-class="getTimeClass(timeEntryEditForm.start_date, timeEntryEditForm.start_time, timeEntryEditForm.end_date, timeEntryEditForm.end_time)">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.start_date">
                Start: Date
                <span class="text-danger">*</span>
              </label>
              <div>
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" id="timeentry.edit.form.start_date"
                           class="form-control"
                           placeholder="yyyy/MM/dd"
                           name="start_date"
                           data-datepicker-popup="yyyy/MM/dd"
                           data-close-text="Close"
                           data-ng-required="true"
                           data-ng-change="startDateChanged()"
                           data-ng-model="timeentry.start_date"/>
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-time"></i>
                    </span>
                  </div>
                  <div data-ng-switch="showError(timeEntryEditForm.start_date, 'required')">
                    <span data-ng-switch-when="true" class="text-danger">
                      Required
                    </span>
                    <span data-ng-switch-when="false"
                          class="text-success">
                      {{ getDateString(timeentry.start_date) }}
                    </span>
                  </div>

                </div>
              </div>
              <label class="control-label col-md-1"
                     for="timeentry.edit.form.start_time">
                Time<span class="text-danger">*</span>
              </label>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" id="timeentry.edit.form.start_time"
                         class="form-control"
                         name="start_time"
                         placeholder="hh:mm"
                         autocomplete="off"
                         data-typeahead="time for time in times | matchTime:$viewValue | limitTo:10"
                         data-typeahead-editable="false"
                         data-ng-required="true"
                         data-ng-model="timeentry.start_time">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-time"></i>
                  </span>
                </div>
                <div class="text-danger"
                     data-ng-show="showError(timeEntryEditForm.start_time, 'required')">
                  Required field
                </div>
              </div>
            </div>


            <div class="form-group"
                 data-ng-class="getTimeClass(timeEntryEditForm.start_date, timeEntryEditForm.start_time, timeEntryEditForm.end_date, timeEntryEditForm.end_time)">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.end_date">
                End: Date
                <span class="text-danger">*</span>
              </label>
              <div>
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" id="timeentry.edit.form.end_date"
                           class="form-control"
                           placeholder="yyyy/MM/dd"
                           name="end_date"
                           tabindex="-1"
                           data-datepicker-popup="yyyy/MM/dd"
                           data-close-text="Close"
                           data-ng-required="true"
                           data-ng-change="endDateChanged()"
                           data-ng-model="timeentry.end_date"/>
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-time"></i>
                    </span>
                  </div>
                  <div data-ng-switch="showError(timeEntryEditForm.end_date, 'required')">
                    <span data-ng-switch-when="true" class="text-danger">
                      Required
                    </span>
                    <span data-ng-switch-when="false"
                          class="text-success">
                      {{ getDateString(timeentry.end_date) }}
                    </span>
                  </div>

                </div>
                <label class="control-label col-md-1"
                       for="timeentry.edit.form.end_time">
                  Time<span class="text-danger">*</span>
                </label>
                <div class="col-md-2">
                  <div class="input-group">
                    <input type="text" id="timeentry.edit.form.end_time"
                           class="form-control"
                           name="end_time"
                           placeholder="hh:mm"
                           autocomplete="off"
                           data-typeahead="time for time in times | matchTime:$viewValue | limitTo:10"
                           data-typeahead-editable="false"
                           data-ng-required="true"
                           data-ng-model="timeentry.end_time">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-time"></i>
                    </span>
                  </div>
                  <div class="text-danger"
                       data-ng-show="showError(timeEntryEditForm.end_time, 'required')">
                    Required field
                  </div>
                </div>
                <div data-ng-switch="showDateTimeError()">
                  <div data-ng-switch-when="true">
                    <div class="text-danger"
                         style="padding-top: 6px;"
                         data-ng-show="showTimeInvalidError">
                      Start time should be less than end time
                    </div>
                    <div class="text-danger"
                         style="padding-top: 6px;"
                         data-ng-show="showDateInvalidError">
                      Start date is greater than end
                    </div>
                  </div>
                  <div data-ng-switch-when="false">
                    <div data-ng-switch="showWorkingHoursCheckbox()">
                      <div data-ng-switch-when="true"
                           style="padding-top: 6px">
                        <label>
                          <input type="checkbox"
                                 data-ng-model="timeentry.working_hours_only">
                          Working hours only
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.tags">
                Tags
              </label>
              <div class="col-md-6">
                <tags-input id="timeentry.edit.form.tags"
                            class="bootstrap"
                            name="tags"
                            placeholder="Enter new or existing tag name"
                            data-replace-spaces-with-dashes="false"
                            data-max-length="30"
                            data-add-on-comma="true"
                            data-add-on-blur="true"
                            data-add-on-space="false"
                            data-allow-leftover-text="false"
                            data-on-tag-added="newTagAdded($tag)"
                            data-on-tag-removed="cbTagRemoved($tag)"
                            data-ng-model="timeentry.tags">
                  <auto-complete
                     data-min-length="1"
                     data-source="getTag($query)">
                  </auto-complete>
                </tags-input>
              </div>
            </div>

            <div class="form-group"
                 data-ng-class="getClass(timeEntryEditForm.activity)">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.activity">
                Activity
                <span class="text-danger">*</span>
              </label>
              <div class="col-md-6">
                <input type="text" id="timeentry.edit.form.activity"
                       class="form-control"
                       name="activity"
                       placeholder="Enter new or existing activity"
                       maxlength="60"
                       autocomplete="off"
                       data-typeahead="activity as activity.name for activity in activities | filter:$viewValue"
                       data-typeahead-editable="true"
                       data-ng-required="true"
                       data-ng-model="timeentry.activity">
                <div class="text-danger"
                     data-ng-show="showError(timeEntryEditForm.activity, 'required')">
                  Required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2"
                     for="timeentry.edit.form.description">
                Description
              </label>
              <div class="col-md-6">
                <textarea class="form-control" rows="3"
                          style="resize: none; min-height: 120px;"
                          id="timeentry.edit.form.description"
                          placeholder="Short description on the first line followed by long description"
                          name="description"
                          data-ng-model="timeentry.description" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-md-5 pull-right">
                <div class="pull-right">
                  <button class="btn btn-primary" ng-click="save()"
                          data-ng-disabled="!canSave()">Done</button>
                  <a data-ui-sref="timelog.show( {timeEntryId: timeentry.timeentry_id} )"
                     class="btn btn-default" role="button">
                    Cancel
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
