<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-left">
        <b>Timelog details</b>
      </span>
      <span class="pull-right">
        <a data-ui-sref="timelog.list">
          <i class="glyphicon glyphicon-list"></i>
          <span>Back to list</span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
    <div class="panel-body">
      <div class="col-md-offset-3">
        <div class="pull-right">
          <a data-ui-sref="timelog.edit( {timeEntryId: timeentry.timeentry_id} )">
            <i class="glyphicon glyphicon-edit"></i>
            <span>Edit</span>
          </a>
        </div>
        <dl class="dl-horizontal">
          <dt>Start time</dt>
          <dd>{{ getDateTimeString(timeentry.start_date, timeentry.start_time) }}</dd>
          <dt>End time</dt>
          <dd>{{ getDateTimeString(timeentry.end_date, timeentry.end_time) }}</dd>
          <dt>Project</dt>
          <dd>{{timeentry.project_id}} : {{timeentry.project_name}}</dd>
          <dt>Activity</dt>
          <dd>{{timeentry.activity}}</dd>
          <dt>Tags</dt>
          <dd data-ng-switch="timeentry.tags.length > 0">
            <span data-ng-switch-when="true">
              <span style="margin: 2px"
                    data-ng-repeat="tag in timeentry.tags"
                    class="label label-default">
                {{ tag }}
              </span>
            </span>
            <span data-ng-switch-when="false">None</span>
          </dd>
          <dt>Description</dt>
          <dd data-ng-switch="timeentry.description.length > 0">
            <div data-ng-switch-when="true"
                 data-ng-bind-html="html_description">
            </div>
            <span data-ng-switch-when="false">None</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>
