<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-left">
        <b>Timelogs</b>
      </span>
      <span class="pull-right">
        <a data-ui-sref="timelog.add">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add</span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>

    <div class="panel-body">
      <div class="pull-right">
        <pagination class="pagination-sm"
                    data-boundary-links="true"
                    data-previous-text="&lsaquo;"
                    data-next-text="&rsaquo;"
                    data-first-text="&laquo;"
                    data-max-size="pnMaxSize"
                    data-last-text="&raquo;"
                    data-total-items="pnTotalItems"
                    data-items-per-page="pnItemsPerPage"
                    data-on-select-page="pageChanged(page)"
                    data-page="pnCurrentPage">
        </pagination>
      </div>
      <div class="clearfix"></div>
      <div data-ng-repeat="date_entry in timelogs">
        <h4><small><strong>{{ getDate(date_entry.date) }}</strong></small></h4>
        <table id="time-entry-listing" class="table table-hover">
          <tr data-ng-repeat="entry in date_entry.logs">
            <td class="col-md-2">
              <a data-ui-sref="timelog.show( {timeEntryId: entry.timeentry_id} )">
                {{ entry.start_time }} - {{ entry.end_time }}
              </a>
            </td>
            <td class="col-md-2">
              {{ entry.activity }}
            </td>
            <td class="col-md-2">
              <a data-popover-placement="top"
                 data-popover-trigger="mouseenter"
                 data-popover="{{entry.project_name}}">
                {{ entry.project_id }}
              </a>
            </td>
            <td class="col-md-2">
              <div>
                <span style="margin: 2px; display: inline-block"
                      data-ng-repeat="tag in entry.tags"
                      class="label label-default">
                  {{ tag }}
                </span>
              </div>
            </td>
            <td class="col-md-3">
              {{ getShortDescription(entry.description) }}
            </td>
            <td class="col-md-1" style="text-align:right">
              <a data-ng-click="deleteTimeEntry(entry.timeentry_id)"
                 style="cursor:pointer">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
