<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : New Activity</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.activities.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="activityAddForm"
          data-ng-controller="activityAddCtrl" role="form">
      <div class="form-group"
           data-ng-class="getClass(activityAddForm.name)">
        <label class="control-label col-md-4"
               for="activity.add.form.name">
          Activity name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-5">
          <input type="text" id="activity.add.form.name" name="name"
                 class="form-control"
                 data-unique-activity-name
                 placeholder="Activity name"
                 maxlength="60"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z0-9_ \)\(.-]+$/"
                 data-ng-model="activity.name" />
          <div class="text-danger"
               data-ng-show="showError(activityAddForm.name, 'uniqueActivityName')">
            Activity name already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(activityAddForm.name,'pattern')">
            Invalid activity name
          </div>
          <div class="text-danger"
               data-ng-show="showError(activityAddForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.activities.list( {projectId: project_id})"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
