<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Activities</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.activities.add( {projectId: project_id} )">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <table id="activity-listing" class="table table-hover">
      <tr data-ng-repeat="activity in activities">
        <td class="col-md-2">
          <a data-ui-sref="manage.activities.show( {projectId: project_id, activityName: activity.name} )">
            {{ activity.name }}
          </a>
        </td>
        <td class="col-md-2" style="text-align:right">
          <a data-ng-click="deleteActivity(activity.name)"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
    <div class="pull-right">
      <a data-ui-sref="manage.projects.show( {projectId: project_id} )"
         class="btn btn-default" role="button">
        Back
      </a>
    </div>
  </div>
</div>
