<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Members</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.projects.show( {projectId: project_id} )">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <span>Back to details</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <form class="form-inline" role="form" name="memberAddForm">
          <div class="form-group">
            <label class="sr-only" for="member">Member</label>
            <input type="text" class="form-control" id="member"
                   name="member"
                   placeholder="User name"
                   autocomplete="off"
                   data-typeahead="user as user.real_name for user in users | matchUser:$viewValue"
                   data-typeahead-editable="false"
                   data-ng-required="true"
                   data-ng-model="member">
          </div>
          <button class="btn btn-default" data-ng-click="addMember()"
                  data-ng-disabled="!canAdd()">Add</button>
        </form>
      </div>
    </div>
  </div>
  <table id="member-listing" class="table table-hover">
    <tr data-ng-repeat="user in members">
      <td class="col-md-4">
        {{ user.userid }}
      </td>
      <td class="col-md-7">
        {{ user.real_name }}
      </td>
      <td class="col-md-1" style="text-align:right">
        <a data-ng-click="removeMember(user.userid)"
           style="cursor:pointer">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
