<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project : {{ project.project_id }}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.projects.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.projects.edit( {projectId: project.project_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{project.name}}</dd>
        <dt>Client</dt>
        <dd>{{client.name}}</dd>
        <dt>Activities</dt>
        <dd>
          <div class="pull-right">
            <a data-ui-sref="manage.activities.list( {projectId: project.project_id} )">
              <i class="glyphicon glyphicon-cog"></i>
              <span>Manage activities</span>
            </a>
          </div>
          <span data-ng-repeat="activity in project.activities | limitTo:activity_limit">
            <span>{{activity.name}}</span><br/>
          </span>
          <span data-ng-switch="project.activities.length <= 0">
            <span data-ng-switch-when="true">
              None
            </span>
          </span>
          <span data-ng-switch="project.activities.length > activity_limit">
            <span data-ng-switch-when="true">
              <a data-ng-click="changeActivityLimit(project.activities.length)"
                 style="cursor:pointer">
                + {{project.activities.length - activity_limit}} more
              </a>
            </span>
          </span>
        </dd>
        <dt>Members</dt>
        <dd>
          <div class="pull-right">
            <a data-ui-sref="manage.members( {projectId: project.project_id} )">
              <i class="glyphicon glyphicon-cog"></i>
              <span>Manage members</span>
            </a>
          </div>
          <span data-ng-repeat="user in project.members | limitTo:member_limit">
            <span>{{user.real_name}}</span><br/>
          </span>
          <span data-ng-switch="project.members.length <= 0">
            <span data-ng-switch-when="true">
              None
            </span>
          </span>
          <span data-ng-switch="project.members.length > member_limit">
            <span data-ng-switch-when="true">
              <a data-ng-click="changeMemberLimit(project.members.length)"
                 style="cursor:pointer">
                + {{project.members.length - member_limit}} more
              </a>
            </span>
          </span>
        </dd>
      </dl>
    </div>
  </div>
</div>
