<div class="container">
  <div id="page-header" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#header-nav-collapse-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
         data-ng-href="{{home_url}}">TTrack</a>
    </div>
    <div class="navbar-collapse collapse" id="header-nav-collapse-menu">
      <p class="navbar-text">
        Signed in as {{userInfo.getID()}}
      </p>
      <ul class="navbar-nav nav navbar-right"
          data-ng-switch="userInfo.hasAnyManagePermission()">
        <li data-ng-switch-when="true"
            data-ng-class="{ active: $state.includes('manage') }">
          <a data-ui-sref="manage">Manage</a>
        </li>
        <li class="dropdown"
            data-ng-class="{ active: $state.includes('reports') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Reports <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a data-ui-sref="reports.user">User</a></li>
            <li><a data-ui-sref="reports.project">Project</a></li>
            <li><a data-ui-sref="reports.client">Client</a></li>
            <li><a data-ui-sref="reports.tag">Tag</a></li>
          </ul>
        </li>
        <li data-ng-class="{ active: $state.includes('profile') }">
          <a data-ui-sref="profile">
            Profile
          </a>
        </li>
        <li><a data-ng-href="{{logout_url}}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="page-content">
  <div class="container">
    <div style="text-align: center; z-index: -1">
      <span class="label label-warning" id="app-loading"
            style="display:none">
        Loading data. Please wait...
      </span>
    </div>
    <div style="text-align: center; z-indez: -2">
      <span class="label label-danger" id="app-error"
            style="display:none">
        An error occurred during HTTP request
      </span>
    </div>
  </div>
  <div data-ui-view>
  </div>
</div>

<div id="page-footer">
</div>
