<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Role : {{ role.role_id }}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.roles.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.roles.edit( {roleId: role.role_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{role.name}}</dd>
        <dt>Permissions</dt>
        <dd>
          <span style="margin: 2px"
                data-ng-repeat="permission in role.permissions"
                class="label label-primary">
            {{ permission }}
          </span>
        </dd>
      </dl>
    </div>
  </div>
</div>
