<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Clients</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.clients.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <table id="client-listing" class="table table-hover">
      <tr data-ng-repeat="client in clients">
        <td class="col-md-2">
          <a data-ui-sref="manage.clients.show( {clientId: client.client_id} )">
            {{ client.client_id }}
          </a>
        </td>
        <td class="col-md-2">{{client.name}}</td>
        <td class="col-md-2" style="text-align:right">
          <a data-ng-click="deleteClient(client.client_id)"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
