<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Client : {{client.client_id}}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.clients.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="clientEditForm"
          data-ng-controller="clientEditCtrl">
      <div class="form-group"
           data-ng-class="getClass(clientEditForm.name)">
        <label class="control-label col-md-4"
               for="client.edit.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="client.edit.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="client.name"/>
          <div class="text-danger"
               data-ng-show="showError(clientEditForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(clientEditForm.address)">
        <label class="control-label col-md-4"
               for="client.edit.form.address">
          Address
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3" name="address"
                    id="client.edit.form.address"
                    placeholder="Address"
                    data-ng-model="client.address" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="manage.clients.show( {clientId: client.client_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
