<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>New Client</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.clients.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="clientAddForm"
          data-ng-controller="clientAddCtrl" role="form">
      <div class="form-group"
           data-ng-class="getClass(clientAddForm.client_id)">
        <label class="control-label col-md-4"
               for="client.add.form.client_id">
          Client ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="client.add.form.client_id" name="client_id"
                 class="form-control"
                 data-unique-client-id
                 placeholder="Client ID"
                 data-ng-required="true"
                 data-ng-model="client.client_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(clientAddForm.client_id, 'pattern')">
            Invalid client ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(clientAddForm.client_id, 'uniqueClientId')">
            Client ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(clientAddForm.client_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(clientAddForm.name)">
        <label class="control-label col-md-4"
               for="client.add.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="client.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="client.name"/>
          <div class="text-danger"
               data-ng-show="showError(clientAddForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(clientAddForm.address)">
        <label class="control-label col-md-4"
               for="client.add.form.address">
          Address
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3" name="address"
                    id="client.add.form.address"
                    placeholder="Address"
                    data-ng-model="client.address" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.clients.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
