<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>New Tag</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.tags.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="tagAddForm"
          data-ng-controller="tagAddCtrl" role="form">
      <div class="form-group"
           data-ng-class="getClass(tagAddForm.name)">
        <label class="control-label col-md-4"
               for="tag.add.form.name">
          Tag name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="tag.add.form.name" name="name"
                 class="form-control"
                 data-unique-tag-name
                 placeholder="Tag name"
                 maxlength="30"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z0-9\s]+$/"
                 data-ng-model="tag.name"/>
          <div class="text-danger"
               data-ng-show="showError(tagAddForm.name, 'uniqueTagName')">
            Tag name already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(tagAddForm.name,'pattern')">
            Invalid tag name
          </div>
          <div class="text-danger"
               data-ng-show="showError(tagAddForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.tags.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
